body {
         background-color: black;
      }

h1 {
         color: white;
         text-align: center;
      }

footer {
         color: white;
         border-top: 3px dashed #bbb;
         padding: 2px;
      }
